//- Variables from pages
block variables

doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="robots" content="index, follow")

        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        title #{title}
        
        //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

        // Added Fancybox apps
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")

        // Added Yandex maps
        script(src="https://api-maps.yandex.ru/2.1/?apikey=bcf0711f-5031-4e9a-a643-2984d4000f2b&lang=ru_RU")

    body(class=pageClass)
        include ../mixins/modal/modal

        header.header
            include header/header
        main.main
            block content
        footer.footer
            include footer/footer