mixin request(modalId, clazz, pic, ttl, cont, btntxt)
    section.request.section_container
        .container
            .row
                .request__pic.col-lg-4
                    img(class=`${clazz}` src=`/img/${pic}`)

                .request__desc.col-lg-8
                    .request__title #{ttl}
                    .request__content(class=`${clazz}`) #{cont}
                    .request__btn
                        a.btn.btn-modal(href="" data-modal-id=`${modalId}`) #{btntxt}